# Relationships In Agencies: Position Title, Employees and Pay Rate

In [6]:
import matplotlib.pyplot as plt
import numpy as np 
import pandas as pd 
import ipywidgets 
import matplotlib

In [7]:
dataset = pd.read_csv('f823a40d-77f9-4b12-9d1c-5cd0c31905e9.csv')

In [8]:
dataset

,_id,Id,Agency,Agency Division,Employee Name,Position Title,Period Pay Rate,YTD Gross
0,1,7B37671243835EDF2C992B2B789BD72D6884A354,ABE LINCOLN PRES LIBRARY & MUS,ALPLM FTE EMPLOYEES,DARIAN FERNANDES,ACCOUNT TECHNICIAN II,2100,48400
1,2,83E3036CA1877343E75840D4FAF0851620AC0772,ABE LINCOLN PRES LIBRARY & MUS,ALPLM FTE EMPLOYEES,AUSTIN FRIEDMEYER,BUILDING/GROUNDS LABORER,800,60400
2,3,C9145979C7A394C6CB58A5E7CC0445C9E3B7F652,ABE LINCOLN PRES LIBRARY & MUS,ALPLM FTE EMPLOYEES,BRIAN DANAHA,BUILDING/GROUNDS LABORER,2000,45000
3,4,761AFAC85C27CFFB38943C3573A574960471879A,ABE LINCOLN PRES LIBRARY & MUS,ALPLM FTE EMPLOYEES,HAROLD STURM,BUILDING/GROUNDS LABORER,2100,42500
4,5,7F5E7E1B041BD896327FE8577935B1503CF0A53F,ABE LINCOLN PRES LIBRARY & MUS,ALPLM FTE EMPLOYEES,STEVE FALICA,BUILDING/GROUNDS LABORER,2600,78600
...,...,...,...,...,...,...,...,...
58171,58172,F48D49C2939AF86A653C0FA9C49553EC2DB32DE8,VETERANS' AFFAIRS,VETERANS SERVICE OFFICE,TYLER JANIAK,VETERANS SERVICE OFFICER,3000,62000
58172,58173,F1E4F0385AE921EB7D488EFDAD2D452CC08ED6DA,VETERANS' AFFAIRS,VETERANS SERVICE OFFICE,WALTER WILSON,VETERANS SERVICE OFFICER,3000,62100
58173,58174,F8D2ECB56B180A9FD5665406B1906801CB77A581,VETERANS' AFFAIRS,VETERANS SERVICE OFFICE,WILLIAM ILLA,VETERANS SERVICE OFFICER,2500,51700
58174,58175,6284E5BF5D8C6466C53F207D2464E3C9AE759812,VETERANS' AFFAIRS,VETERANS SERVICE OFFICE,WILLIAM LINDER,VETERANS SERVICE OFFICER,2100,42700
58175,58176,57F541F2E39A7C060E8357E2D93192607B2F7378,VETERANS' AFFAIRS,VETERANS SERVICE OFFICE,ZACHARY GRATTAN,VETERANS SERVICE OFFICER,3000,62100

In [9]:
dataset['Agency'].unique()

array(['ABE LINCOLN PRES LIBRARY & MUS', 'AGING', 'AGRICULTURE',
       'ATTORNEY GENERAL', 'BOARD OF HIGHER EDUCATION',
       'CAPITAL DEVELOPMENT BOARD', 'CENTRAL MANAGEMENT',
       'CHILDREN AND FAMILY SERVICES', 'CIVIL SERVICE COMMISSION',
       'COMM ON EQUITY & INCLUSION', 'COMMERCE AND ECONOMIC OPPORTUN',
       'COMMISSION ON HUMAN RIGHTS', 'COMPREHNSIVE HLTH INSURANCE BD',
       'COMPTROLLER', 'CORONER TRAINING BOARD', 'CORRECTIONS',
       'COUNCIL ON DEVELOPMENTAL DISAB', 'COURT OF CLAIMS',
       'COURTS COMMISSION', 'DEAF & HARD OF HEARING COMM',
       'EMPLOYMENT SECURITY', 'ENVIRONMENTAL PROTECT AGENCY',
       'EXECUTIVE ETHICS COMMISSION', 'FINANCIAL AND PROFESSIONAL REG',
       'GOVERNOR', "GOVERNOR'S OFF OF MGT & BUDGET",
       'GUARDIAN & ADVOCACY COMM', 'HEALTHCARE & FAMILY SERVICES',
       'HUMAN RIGHTS', 'HUMAN SERVICES', 'IL ARTS COUNCIL',
       'IL COMMERCE COMMISSION', 'IL COMMUNITY COLLEGE BOARD',
       'IL CRIMINAL JUSTICE INFO AUTH', 'IL EDUCAT LABOR RELATIONS BD',
       'IL EMERGENCY MANAGEMENT AGCY', 'IL INDEPENDENT TAX TRIBUNAL',
       'IL LABOR RELATIONS BOARD', 'IL LAW ENFORCE TRAIN & STDS BD',
       'IL MATH AND SCIENCE ACADEMY', 'IL STATE BOARD OF INVESTMENTS',
       'IL STATE TOLL HIGHWAY AUTH', 'IL STUDENT ASSISTANCE COMM',
       "IL WORKERS' COMPENSATION COMMI", 'ILLINOIS GAMING BOARD',
       'ILLINOIS POWER AGENCY', 'INNOVATION AND TECHNOLOGY', 'INSURANCE',
       'JUVENILE JUSTICE', 'LABOR', 'LEGISLATIVE INSPECTOR GENERAL',
       'LIEUTENANT GOVERNOR', 'LIQUOR CONTROL COMM', 'MILITARY AFFAIRS',
       'NATURAL RESOURCES', 'OFFICE OF INSPECTOR GENERAL',
       'OFFICE OF THE STATE FIRE MARSH', 'PRISONER REVIEW BOARD',
       'PROCUREMENT POLICY BOARD', 'PROPERTY TAX APPEAL BOARD',
       'PUBLIC HEALTH', 'RACING BOARD', 'REVENUE', 'SECRETARY OF STATE',
       'STATE BOARD OF EDUCATION', 'STATE BOARD OF ELECTIONS',
       "STATE EMPLOYEES' RETIRE SYSTEM", 'STATE LOTTERY', 'STATE POLICE',
       'STATE POLICE MERIT BOARD', 'STATE UNIV CIVIL SERV MERIT BD',
       "TEACHERS' RETIREMENT SYSTEM", 'TRANSPORTATION', 'TREASURER',
       "VETERANS' AFFAIRS"], dtype=object)

In [10]:
dataset['Position Title'].unique()

array(['ACCOUNT TECHNICIAN II', 'BUILDING/GROUNDS LABORER',
       'BUILDING/GROUNDS LEAD I', ..., 'LAUNDRY MANAGER I',
       'VETERANS EDUCATIONAL SPEC III', 'VETERANS SERVICE OFFICER'],
      dtype=object)

In [11]:
from matplotlib.lines import Line2D
markersDict = Line2D.markers
markersDict.keys()
markers = []
for m in markersDict:
    if 'None' not in str(m) and len(str(m).strip())>0:
        markers.append(m)
markers[:4]

['.', ',', 'o', 'v']

In [12]:
dataset.head()

,_id,Id,Agency,Agency Division,Employee Name,Position Title,Period Pay Rate,YTD Gross
0,1,7B37671243835EDF2C992B2B789BD72D6884A354,ABE LINCOLN PRES LIBRARY & MUS,ALPLM FTE EMPLOYEES,DARIAN FERNANDES,ACCOUNT TECHNICIAN II,2100,48400
1,2,83E3036CA1877343E75840D4FAF0851620AC0772,ABE LINCOLN PRES LIBRARY & MUS,ALPLM FTE EMPLOYEES,AUSTIN FRIEDMEYER,BUILDING/GROUNDS LABORER,800,60400
2,3,C9145979C7A394C6CB58A5E7CC0445C9E3B7F652,ABE LINCOLN PRES LIBRARY & MUS,ALPLM FTE EMPLOYEES,BRIAN DANAHA,BUILDING/GROUNDS LABORER,2000,45000
3,4,761AFAC85C27CFFB38943C3573A574960471879A,ABE LINCOLN PRES LIBRARY & MUS,ALPLM FTE EMPLOYEES,HAROLD STURM,BUILDING/GROUNDS LABORER,2100,42500
4,5,7F5E7E1B041BD896327FE8577935B1503CF0A53F,ABE LINCOLN PRES LIBRARY & MUS,ALPLM FTE EMPLOYEES,STEVE FALICA,BUILDING/GROUNDS LABORER,2600,78600

In [13]:
axis_names_subset = ['Agency', 'Agency Division', 'Position Title', 'Employee Name', 'Period Pay Rate', 'YTD Gross']
color_subset = ['Period Pay Rate', 'YTD Gross']

In [20]:
@ipywidgets.interact(xname = axis_names_subset, yname = axis_names_subset,
cmap = plt.colormaps(), 
color_variable = color_subset,
marker=markers)
def make_scatter(xname, yname, cmap, color_variable, marker):
    x = dataset[xname]
    y = dataset[yname]
    plt.scatter(x,y, c=dataset[color_variable], cmap=cmap, marker=marker)
    plt.show

interactive(children=(Dropdown(description='xname', options=('Agency', 'Agency Division', 'Position Title', 'E…

In [15]:
columns_list = ['Agency', 'Position Title', 'Period Pay Rate', 'YTD Gross']
@ipywidgets.interact(bin_by = columns_list, nbins = np.arange(10,100))
def make_scatter(bin_by, nbins):
    fig, ax = plt.subplots(figsize=(50, 10))
    
    if dataset[bin_by].dtype != 'float64' and dataset[bin_by].dtype != 'int64':
        myseries = dataset.groupby(bin_by)[bin_by].count()
        x = myseries.index
        y = myseries.values
        ax.bar(x, y)
        
    else: 
        dataset.hist(column=bin_by, ax=ax, bins=nbins)
        fig.autofmt_xdate(rotation=90)
        plt.show()

interactive(children=(Dropdown(description='bin_by', options=('Agency', 'Position Title', 'Period Pay Rate', '…

In [16]:
#The file size is 8.1 MB. In items, it is 581 rows long. It is not larger than the GitHub upload limit.
#The URL is: https://data.illinois.gov/dataset/724state_employee_pay

In [17]:
#Write-Up: 
#The first graph I have is an interactive one that shows and compares information from the data set, which are the agencies, agency division, employee name, position title, period pay rate and YTD Gross. 
#The second graph, is a bar graph that shows the correlation of the Agency, Position Title, Period Pay Rate and the YTD (Year to Date) Gross of the dataset I chose.
#I made two graphs that visually show the information from the dataset.

In [18]:
#Team Member: Dayanna Garcia